.display-flex {
    width: 90vw;
    height: 34vh;
    margin-top: 12px;
    padding: 5px;
    margin: 5px;
    /* margin-left: 15px; */
    border-bottom: 1px solid #667302;
}

.butProx {
    margin-bottom: -8px;
    margin-left: 6px;
    padding: 1px;
    /* butoões da tela */
}

.secGrafico {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 90vw;
   
}

.h2Grafico{
    font-size: 1.4em !important;    
    margin-bottom: 15px;
}
.divGrafico {
    
    width: 70vw;
    height: 38vh;
    
}


.div-flex {
    width: 86vw;
    padding: 7px;
    margin: 7px;
    margin-top: 6px;
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid #71a102;
    border-radius: 6px;
   
}


.divCards {
    background-color: #d2d9db;
    width: 38vw;
    padding: 5px;
    margin: 5px;
    height: 12vh;
    border: 1px solid #71a102;
    box-shadow: 2px 2px 4px #22234d8a;
    border-radius: 6px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.divCards>h3 {
    font-size: 0.91em !important;
    color: #667302;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-top: 1px;
    font-weight: 600;
    text-shadow: 1px 1px #6a348183;
}

.divCards>p {
    font-size: 0.9em !important;
    margin-top: 3px;
    color: #667302;
    margin-left: 5px;
    font-weight: 600;
    text-shadow: 1px 1px #6a348183;

}




/* .display-column{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


.display-flex {
    display: flex;
    flex-flow: column nowrap;
    border-right: 1px solid #71a102;
    border: 1px solid #71a102;
    width: 40vw;
    height: 50vh;
    padding: 10px;
    margin-top: 12px;
    margin-left: 15px;
    border-radius: 8px;

}

.secGrafico {
    border: none;
    display: flex;
    justify-content: center;
}



.butProx {
    margin-bottom: -8px;
    margin-left: 6px;
    padding: 1px;
}


.divGrafico {
    
    border: 1px solid #71a102;
    border-radius: 8px;
    width: 40vw;
    padding: 10px;
    height: 50vh;
}


.div-flex {
    width: 88vw;
    margin-left: 10px;
    margin-top: 6px;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #71a102;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #353b00a9;
}


.divCards {
    background-color:#ecf5f8;
    width: 20vw;
    padding: 10px;
    margin: 5px;
    height: 120px;
    border: 1px solid #71a102;
    border-radius: 6px;
    display: flex;
    flex-flow: column nowrap;
}

.divCards>h3 {
    font-size: 0.94em !important;
    color: #667302;
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 1px #6a348183;
    margin-bottom: 3px;
    margin-top: 5px;
}

.marginH3{
    margin-top: -7px !important;
}



.divCards>p {
    font-size: 0.87em !important;
    color: #667302;
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 1px #6a348183;

} */