.display-column{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


.display-flex {
    display: flex;
    flex-flow: column nowrap;
    border-right: 1px solid #71a102;
    border: 1px solid #71a102;
    width: 40vw;
    height: 50vh;
    padding: 10px;
    margin-top: 12px;
    margin-left: 15px;
    border-radius: 8px;

}

.secGrafico {
    border: none;
    display: flex;
    justify-content: center;
}



.butProx {
    margin-bottom: -8px;
    margin-left: 6px;
    padding: 1px;
}


.divGrafico {
    
    border: 1px solid #71a102;
    border-radius: 8px;
    width: 40vw;
    padding: 10px;
    height: 50vh;
}


.div-flex {
    width: 88vw;
    margin-left: 10px;
    margin-top: 6px;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #71a102;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #353b00a9;
}


.divCards {
    background-color:#ecf5f8;
    width: 20vw;
    padding: 10px;
    margin: 5px;
    height: 120px;
    border: 1px solid #71a102;
    border-radius: 6px;
    display: flex;
    flex-flow: column nowrap;
}

.divCards>h3 {
    font-size: 1.0em !important;
    color: #667302;
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 1px #6a348183;
    margin-bottom: 5px;
}



.divCards>p {
    font-size: 1.0em !important;
    color: #667302;
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 1px #6a348183;

}

.margin{
    margin-top: 15px;
    margin-left: 14px;
}