main{
   min-height: 750px;
}

.marginTitulo{
    margin-left: -23px;
    background-color: #353b00;
}


.form{
    width: 100% !important;
    padding: 2px !important;
    height: 28vh !important;
    margin: 5px;
    border-left: none;
   
}

section{
    width: 100%;
    padding: 10px;
    border-left: 1px solid #8AA696;
   
}



form>input, select{
    width: 95%;
    padding: 4px;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid #8AA696;
    background-color: #e9cab9ce;
    color: #353b00;
}



h2{
    text-align: left;
    font-size: 1.1em !important;
    padding: 5px;
    margin-left: -3px;
   
}

.buttonForm{
    float: right ;
    margin-top: -30px;
    color: #353b00;
    border: none;
    background-color:#CCD6D9 ;

}

section > ul {
    list-style-type: none;
}

section>ul>li{
    border: 1px solid #8AA696;
    width: 100%;
    height: 20%;
    font-size: 0.8em;
    color: #353b00;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #353b00a6;
}





/* main{
    height: 92vh 
} */

/* h1{
    margin-left: -35px;
} */


/* .form{
    width: 50%;
    padding: 10px;
    height: 60vh;
}

section{
    width: 50%;
    padding: 10px;
    border-left: 1px solid #8AA696;
}



form>input, select{
    width: 95%;
    padding: 4px;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid #8AA696;
    background-color: #e9cab9ce;
    color: #353b00;
}



h2{
    text-align: left;
    font-size: 1.1em !important;
    padding: 5px;
    margin-left: -3px;
   
}

.buttonForm{
    float: right ;
    margin-top: -30px;
    color: #353b00;
    border: none;
    background-color:#CCD6D9 ;

}

section > ul {
    list-style-type: none;
}

section>ul>li{
    border: 1px solid #8AA696;
    width: 100%;
    height: 20%;
    font-size: 0.8em;
    color: #353b00;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #353b00a6;
}

 */
