@charset "UTF-8";
@media screen and (max-width: 900px) and (orientation: landscape) {
    
    main{
        width: 85vw;
        
        
    }
    
    .display-flex {
        width: 85vw;
        height:40vh;
        margin-bottom: 15px;
       
    }
    
    
    .div-flex {
        width: 80vw;
        margin-left: 10px;
        margin-top: 6px;
       
    }
    
    
    .display-column{
        height: 100vh;
        margin-bottom: 40px;
    }
    
    

    
    
    .divCards {
        background-color:#ecf5f8;
        width: 36vw;
        padding: 10px;
        height: 95px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: baseline;
    }
    
    .divCards>h3 {
        font-size: 0.9em !important;
       
    }
    
 
    
    
    
    .form{
        height: 40vh !important;
    }
    
    
    .marginTitulo{
        margin-left: -40px;
       
    }
  }
  

@media screen and (min-width: 440px) and (max-width: 699px) {
    /* Estilo Main */

    main{
        width: 85vw;
       
    }

.titulo{
    margin-bottom: -15px;
}

h2{
    margin-top: 0px;
    padding: 10px;
}

.marginP{
    margin-left: 6px;
}

/* dashboard */


.display-column{
   
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.button{
    height: 13%;
    text-align: center;
    margin: 5px !important;
}
.button p{

    margin-top: -2px !important;
    margin-bottom: 2px !important;
    font-size: 1.0em;
}

.display-flex {
    width: 85vw;
    height: 47vh;
    margin-bottom: 25px;
}

.secGrafico {
    border: none;
    display: flex;
    width: 90vw;
    height: 30%;
    justify-content: center;
    margin-bottom: 15px;
}


.divGrafico {
   
    width: 40vw;
    padding: 5px;
    height: 35vh;
}

.div-flex {
    width: 80vw;
    margin-left: 10px;
    margin-top: 6px;
    
}






.butProx {
    margin-left:9px;
}


.divCards {
    background-color:#ecf5f8;
    width: 36vw;
    padding: 10px;
    height: 95px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.divCards>h3 {
    font-size: 0.9em !important;
   
}

.marginH3{
    margin-top: -7px !important;
}

.divCards>p {
    font-size:0.9em !important;

}



.form{
    height: 40vh !important;
}


.marginTitulo{
    margin-left: -40px;
   
}


/* pagina Saldo */

main{
    height: 900px !important; 
}


.formSaldo{
    width: 97%;
    height: 55vh;
}





.button{
    margin-top: 10px;
    padding: 7px !important;
}



header{
    gap: 85px;
}


.butHome{
    margin-bottom: -15px;
}

.secCard{
    width: 85vw;


}

.divCard{
    width: 80vw;
    background-color: #ced9ddcb;
    margin: 10px;
    height: 17%;
    padding: 10px;
    
}
.divCard > h2{
    margin-top: -10px;
    margin-bottom:-6px;
}
.divCard>p{
    margin-left: 10px;
    font-size: 0.9em;
}


.divMeta{
    margin-top: 50px;
    border-top: 1px solid #8AA696;
    height: 40%;
    width: 100%;
}


/*pagina lista filtros*/
.mainLista{
    height: auto !important;
}




.divInputs > .buttonVoltar{
    padding: 4px;
    height: 5.5vh;
}



select.selectPagFiltros{
    width: 76%;
    margin-top: 11px;
    
}

.padding{
    padding: 4px !important;
    height: 35px !important;
    width: 34px !important;
    margin-left: 10px !important;
    /* botão da casinha */

}


  }
  

@media screen and (min-width: 700px) and (max-width: 992px){
   /* Estilo Main */
   body{
    width: 100vw;
    height:auto;
    
    padding: 20px;
}

main{
    width: 75vw;
    height: auto;
}

.titulo{
    margin-top: 10px;
}

h2{
    font-size: 1.3em !important;
    padding: 10px;
    margin-left: px;
    color: #667302;
}

.marginP{
    margin-left: 6px;
}

p{
    font-size: 1.1em;
}

.button{
    width: 95%;
    margin: 6px;
}


.button > p{
    font-size: 1.14em;
}


/* dashboard */

.display-column{
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


.display-flex {
    display: flex;
    flex-flow: column nowrap;
    border-right: 1px solid #71a102;
    border-bottom: none;
    width: 50vw;
    height: 70vh;
}

.secGrafico {
    border: none;
    display: flex;
    width: 50vw;
    height: 62vh;
    justify-content: center;
}

.butProx {
    margin-left:9px;
}

.divGrafico {
   
    width: 30vw;
    padding: 5px;
    height: 40vh;
}

.div-flex {
    width: 72vw;
    margin-left: 10px;
    margin-top: 6px;
    display: grid;
    grid-template-columns: 2;
}


.divCards {
    background-color:#ecf5f8;
    width: 33vw;
    padding: 10px;
    height: 75px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.divCards>h3 {
    font-size: 0.9em !important;
   
}

.marginH3{
    margin-top: -7px !important;
}

.divCards>p {
    font-size:0.86em !important;

}



.form{
    height: 40vh !important;
}


.marginTitulo{
    margin-left: -40px;
   
}

/* despesas */


/* pagina Saldo */

main{
    height: 600px !important; 
}


.formSaldo{
    width: 98%;
    height: 50vh;
}



form>input{
    width: 95%;
}

.button{
    margin-top: 10px;
    padding: 7px !important;
}



header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    gap: 135px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}




.butHome{
    padding: 3px;
    height: 33px;
    width: 30px;
    margin-left: 17px;
    border-radius: 50%;
    display: inline-block;
    background-color: #CCD6D9;
    border: 1px solid #626d00;
    box-shadow: 1px 1px 2px rgba(24, 1, 1, 0.493);
}

.butHome:hover{
    background-color: #436d00;
    border: 1px solid #ffffff;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.438);
    fill:#ffffff;
}
.butHome:hover svg path{
    fill:#ffffff;
}

.secCard{
    margin-top: 20px;
    width: 80vw;
    
}

.divCard{
    width: 72vw;
    background-color: #ced9ddcb;
    margin: 10px;
    height: 10vh;
    padding: 8px;
    
}

.divCard>p{
    margin-left: 10px;
    font-size: 0.8em;
}
 .divCard > h2{
    margin-top: -10px;
 }

.divMeta{
    margin-top: 50px;

    border-top: 1px solid #8AA696;
    height: 25vh;
}


/*pagina lista filtros*/
.mainLista{
    height: auto !important;
}




.divInputs > .buttonVoltar{
    margin-left: 10px;
    margin-top: 10px;
    padding: 4px;
    height: 5.1vh;
}



select.selectPagFiltros{
    width: 82%;
    
}

.padding{
    padding: 3px !important;
    height: 34px !important;
    width: 33px !important;
    margin-left: 10px !important;
    /* botão da casinha */

}


ul {
    list-style-type: none;
    height: 100%;
}

ul>li{
    border: 1px solid #71a102;
    width: 95%;
    font-size: 0.8em;
    color: #353b00;
    margin: 10px;
    padding: 4px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #353b00a6;
    
    
}
.displayflex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


.displayflex>p{
   text-align: left;
   width: 18%;

}


.buttonExcluir{
    background-color: #CCD6D9;
    color: #da21ff;
    border: 1px solid #71a102;
    margin: 0px 2px 0px 2px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #353b0080;
    padding: 1px;
}


.estilop{
    margin-top: 5px;
    text-align: center;
    color: #406473;
    padding: 5px;
    border-radius: 6px;
    text-shadow: 1px 1px 2px #6c7ea379;
}

.divResumida{
    display: block;
    margin-top: -1px;
}

.marginLeft{
    margin-left: 10px;
}

}











@media screen and (min-width: 992px){
    /* Estilo Main */

main{
    width: 50vw;
    height: auto;
}

.titulo{
    margin-top: 10px;
}

.marginP{
    margin-left: 3px;
}

p{
    font-size: 1.1em;
}

.button{
    width: 95%;
    margin: 6px;
}


.button > p{
    font-size: 1.14em;
}


/* dashboard */

.display-column{
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


.display-flex {
    border-right: 1px solid #71a102;
    border-bottom: none;
    width: 50vw;
    height: 62vh;
}

.secGrafico {
    border: none;
    display: flex;
    width: 50vw;
    height: 62vh;
    justify-content: center;
}

.butProx {
    margin-left:9px;
}

.divGrafico {
   
    width: 20vw;
    padding: 5px;
    height: 40vh;
}

.div-flex {
    width: 48vw;
    margin-left: 10px;
    margin-top: 6px;
    display: grid;
    grid-template-columns: 2;
}


.divCards {
    background-color:#ecf5f8;
    width: 22.6vw;
    padding: 10px;
    height: 75px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.divCards>h3 {
    font-size: 0.9em !important;
   
}

.marginH3{
    margin-top: -7px !important;
}

.divCards>p {
    font-size:0.86em !important;

}



.form{
    height: 40vh !important;
}


.marginTitulo{
    margin-left: -40px;
   
}

/* despesas */


/* pagina Saldo */

main{
    height: 600px !important; 
}


.formSaldo{
    width: 98%;
    height: 50vh;
}



form>input{
    width: 95%;
}

.button{
    margin-top: 10px;
    padding: 7px !important;
}



header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    gap: 135px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}




.butHome{
    padding: 3px;
    height: 33px;
    width: 30px;
    margin-left: 17px;
    border-radius: 50%;
    display: inline-block;
    background-color: #CCD6D9;
    border: 1px solid #626d00;
    box-shadow: 1px 1px 2px rgba(24, 1, 1, 0.493);
}

.butHome:hover{
    background-color: #436d00;
    border: 1px solid #ffffff;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.438);
    fill:#ffffff;
}
.butHome:hover svg path{
    fill:#ffffff;
}

.secCard{
    margin-top: 20px;
    width: 50vw;
    
}

.divCard{
    width: 48vw;
    background-color: #ced9ddcb;
    margin: 10px;
    height: 10vh;
    padding: 8px;
    margin-left: 8px;
    margin-right: 14px;
    
}

.divCard>p{
    margin-left: 10px;
    font-size: 0.8em;
}
 .divCard > h2{
    margin-top: -10px;
 }

.divMeta{
    margin-top: 50px;

    border-top: 1px solid #8AA696;
    height: 25vh;
}


/*pagina lista filtros*/
.mainLista{
    height: auto !important;
}




.divInputs > .buttonVoltar{
    margin-left: 10px;
    margin-top: 10px;
    padding: 4px;
    height: 5.1vh;
}



select.selectPagFiltros{
    width: 82%;
    
}

.padding{
    padding: 3px !important;
    height: 34px !important;
    width: 33px !important;
    margin-left: 10px !important;
    /* botão da casinha */

}


ul {
    list-style-type: none;
    height: 100%;
}

ul>li{
    border: 1px solid #71a102;
    width: 95%;
    font-size: 0.8em;
    color: #353b00;
    margin: 10px;
    padding: 4px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #353b00a6;
    
    
}
.displayflex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


.displayflex>p{
   text-align: left;
   width: 18%;

}


.buttonExcluir{
    background-color: #CCD6D9;
    color: #da21ff;
    border: 1px solid #71a102;
    margin: 0px 2px 0px 2px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #353b0080;
    padding: 1px;
}


.estilop{
    margin-top: 5px;
    text-align: center;
    color: #406473;
    padding: 5px;
    border-radius: 6px;
    text-shadow: 1px 1px 2px #6c7ea379;
}

.divResumida{
    display: block;
    margin-top: -1px;
}

.marginLeft{
    margin-left: 10px;
}

}
  
