main{
    height: auto;
}


.containerGrafico{
    min-height: 400px;
    width: 85vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.listaHistorico{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 0px;
}


.itemHistorico{
    width: 93%;
    padding: 8px;
    border: 1px solid #8AA696;
    box-shadow: 3px 3px 6px 
    #22234d3b;
    margin-bottom: 18px;
    border-radius: 6px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 1px;
    transition: border 0.5s, box-shadow 0.5s, background-color 0.5s;
}

.itemHistorico:hover{
   border-left: 15px solid #406473;
   background-color: #a3a3a331;
    box-shadow: 3px 3px 6px rgba(245, 245, 245, 0.377);
   
}

#divButton{
    display: flex;
    flex-flow: row;
    justify-content: center;
   gap: 43px;
}

.buttonHistorico{
    display: inline;
    border: none;
    height: 5.5vh;
    width: 5.5vh;
    border: 1px solid #5d8a70;
    border-radius: 50%;
    padding: 2px;
    background-color: #40647300;
    box-shadow: 2px 2px 4px #002e3552;
    transition: border 0.5s, box-shadow 0.5s, background-color 0.5s, fill 5s;

}
.buttonHistorico:hover{
   border: 1px solid #75a0b3;
   box-shadow: 1px 1px 4px #ffffff2f;
   background-color: #406473;
}

svg{
   transition: fill 0.5s;
}
svg:hover{
    fill: whitesmoke;
}






/* detalhado */


.historico{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    max-height: 100px !important;
}



.divHistoricoDetalhado{
    border: 1px solid #71a102;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 74%;
}

.divHistoricoDetalhado p {
    margin-bottom: 10px;
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
   
}

li.divCardGrid{
    width: 90%;
    height: 64%;
    padding: 8px;
    box-shadow: 1px 1px 2px #406473;
}

.divCardGrid p {
    font-size: 1.1em;
    margin-bottom: 5px;
}