main{
    margin: 0px 0px;
}

input,select.selectPagFiltros{
    width: 22%;
    padding: 4px;
    border-radius: 4px;
    margin: 10px -5px;
    margin-left: 14px;
    border: 1px solid #8AA696;
    background-color: #e9cab9ce;
    color: #626d00;
}

select.selectPagFiltros{
    width: 39%;
}

div{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10px;
}

div > .buttonVoltar{
    margin-left: 14px;
    margin-top: 10px;
    padding: 3px;
    height: 4.9vh;
    border-radius: 50%;
    display: inline-block;
    color: #e77afd;
    background-color: #CCD6D9;
    border: 1px solid #626d00;
    box-shadow: 1px 1px 2px rgba(24, 1, 1, 0.493);
}

.buttonVoltar:hover{
    background-color: #2c4d57;
    /* border: 1px solid #ffffff; */
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.438);
    fill:#ffffff;
}
.buttonVoltar:hover svg path{
    fill:#ffffff;
}



ul {
    list-style-type: none;
}

ul>li,displayFlex{
    border: 1px solid goldenrod;
    width: 95%;
    height: 20%;
    font-size: 0.8em;
    color: #353b00;
    margin: 10px;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #353b00a6;



    display: flex;
}

.estilop{
    margin-top: 5px;
    text-align: center;
    color: #406473;
    padding: 5px;
    border-radius: 6px;
    text-shadow: 1px 1px 2px #6c7ea379;
}

.buttonExcluir{
    background-color: #CCD6D9;
    color: #da21ff;
    border: 1px solid goldenrod ;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #353b0080;
    padding: 1px;
}