main{
    min-height: 600px;
}


header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    gap: 55px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}




.butHome{
    padding: 3px;
    height: 33px;
    width: 30px;
    margin-left: 17px;
    border-radius: 50%;
    display: inline-block;
    background-color: #CCD6D9;
    border: 1px solid #626d00;
    box-shadow: 1px 1px 2px rgba(24, 1, 1, 0.493);
}

.butHome:hover{
    background-color: #436d00;
    /* border: 1px solid #ffffff; */
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.438);
    fill:#ffffff;
}
.butHome:hover svg path{
    fill:#ffffff;
}




.displaycolumn{
    display: flex;
    flex-flow: column nowrap !important;
}


.formSaldo{
    width: 95%;
    padding: 2px;
    height: 35vh;
    margin: 10px;
    margin-bottom: 25px;
    margin-left: 12px;
    border-left: none;
}



form>input{
    width: 95%;
    padding:8px !important;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid #8AA696;
    background-color: #e9cab9ce;
    color: #353b00;
}

.button{
    width: 95%;
    padding: 7px !important;
}

.divMeta{
    margin-top: 35px;
    margin-bottom: 20px;
    height: 48%;
    padding: 1px;
}

h3{
    color:#667302; 
    font-size: 1.2em !important;
    margin: 8px 5px;
}
.formMeta>input{
    margin: 4px 5px;
}



.secCard{
    border-top: 1px solid #626d00;
    padding-top: 10px !important;
    width: 90vw;
    padding: 2px;
}

.divCard{
    /* background-color: #4d6c72; */
    background-color: #ced9ddcb;
    margin: 10px;
    padding: 8px;
    height: 7vh;
    border: 1px solid #8AA696;
    border-radius: 8px;
    box-shadow: 2px 2px 6px #353b0088;
}

.divCard>h2{
    color:#667302; 
    font-size: 0.94em !important;
}

.divCard>p{
    color: #626d00;
    margin-left: 5px;
    font-weight: 600;
    margin-top: -4px;
    font-size: 0.9em;
}






/* 



 main{
    height: 500px !important; 
}


.form{
    width: 50%;
    padding: 10px;
    height: 60vh;
}



form>input{
    width: 95%;
    padding:8px !important;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid #8AA696;
    background-color: #e9cab9ce;
    color: #353b00;
}

.button{
    width: 95%;
    padding: 7px !important;
}

.divMeta{
    margin-top: 50px;
    border-top: 1px solid #8AA696;
    height: 40%;
}

h3{
    color:#667302; 
    font-size: 1.2em !important;
    margin: 8px 5px;
}
.formMeta>input{
    margin: 4px 5px;
}



header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    gap: 120px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}




.butHome{
    padding: 3px;
    height: 33px;
    width: 30px;
    margin-left: 17px;
    border-radius: 50%;
    display: inline-block;
    background-color: #CCD6D9;
    border: 1px solid #626d00;
    box-shadow: 1px 1px 2px rgba(24, 1, 1, 0.493);
} */

/* .butHome:hover{
    background-color: #436d00;
    border: 1px solid #ffffff;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.438);
    fill:#ffffff;
}
.butHome:hover svg path{
    fill:#ffffff;
}
 */


/* .divCard{
    background-color: #4d6c72;xxxxxx
    background-color: #ced9ddcb;
    margin: 10px;
    padding-left: 4px;
    height: 15%;
    border: 1px solid #8AA696;
    border-radius: 8px;
    box-shadow: 2px 2px 6px #353b0088;
}

.divCard>h2{
    color:#667302; 
    font-size: 0.94em !important;
}

.divCard>p{
    color: #626d00;
    margin-left: 5px;
    font-weight: 600;
    margin-top: -4px;
    font-size: 0.9em;
} */


/* main{
    height: 92vh !important; 
}


.form{
    width: 50%;
    padding: 10px;
    height: 60vh;
}



form>input{
    width: 95%;
    padding:8px !important;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid #8AA696;
    background-color: #e9cab9ce;
    color: #353b00;
}

.button{
    width: 95%;
    padding: 7px !important;
}

.divMeta{
    margin-top: 50px;
    border-top: 1px solid #8AA696;
    height: 40%;
}

h3{
    color:#667302; 
    font-size: 1.2em !important;
    margin: 8px 5px;
}
.formMeta>input{
    margin: 4px 5px;
}
 */


/* header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    gap: 120px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}




.butHome{
    padding: 3px;
    height: 33px;
    width: 30px;
    margin-left: 17px;
    border-radius: 50%;
    display: inline-block;
    background-color: #CCD6D9;
    border: 1px solid #626d00;
    box-shadow: 1px 1px 2px rgba(24, 1, 1, 0.493);
} */

/* .butHome:hover{
    background-color: #436d00;
    border: 1px solid #ffffff; xxxxx
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.438);
    fill:#ffffff;
} */
/* .butHome:hover svg path{
    fill:#ffffff;
} */



/* .divCard{
    background-color: #4d6c72; xxxxx
    background-color: #ced9ddcb;
    margin: 10px;
    padding-left: 4px;
    height: 15%;
    border: 1px solid #8AA696;
    border-radius: 8px;
    box-shadow: 2px 2px 6px #353b0088;
} */

/* .divCard>h2{
    color:#667302; 
    font-size: 0.94em !important;
}

.divCard>p{
    color: #626d00;
    margin-left: 5px;
    font-weight: 600;
    margin-top: -4px;
    font-size: 0.9em;
}

 */
