main{
    height: 92vh !important; 
}


.form{
    width: 50%;
    padding: 10px;
    height: 60vh;
}



form>input{
    width: 95%;
    padding:8px !important;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid #8AA696;
    background-color: #e9cab9ce;
    color: #353b00;
}

.button{
    width: 95%;
    padding: 7px !important;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid #8AA696;
    background-color: #8AA696 ;
    color: #ddfcc4;
    box-shadow: 1px 1px 2px #353b00;
}
.butAd:hover{
    border: 1px solid #ffffff;
    background-color: #40614e;
    color: #f7fff0;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #353b00;
}



header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    gap: 120px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}




.butHome{
    padding: 3px;
    height: 33px;
    width: 30px;
    margin-left: 17px;
    border-radius: 50%;
    display: inline-block;
    background-color: #CCD6D9;
    border: 1px solid #626d00;
    box-shadow: 1px 1px 2px rgba(24, 1, 1, 0.493);
}

.butHome:hover{
    background-color: #436d00;
    /* border: 1px solid #ffffff; */
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.438);
    fill:#ffffff;
}
.butHome:hover svg path{
    fill:#ffffff;
}



.divCard{
    /* background-color: #4d6c72; */
    background-color: #ecf5f8;
    margin: 10px;
    padding-left: 4px;
    height: 18%;
    border: 1px solid #71a102;
    border-radius: 8px;
    box-shadow: 2px 2px 6px #353b0088;
}

.divCard>h2{
    color: #353b00;
}

.divCard>p{
    color: #353b00;
    margin-left: 5px;
    font-weight: 600;
    font-size: 1.0em;
}


h2{
    color: #be3c00;
}